{{ define "title" }}Auth |{{ end }}
{{ define "content" }}
<div class="flex three center">
    <article class="card">
        <header>
            <h3>login or register</h3>
        </header>
        <form action="/auth/" method="POST">
            <fieldset class="flex one">
                <label><input name="email" type="email" placeholder="Email" required></label>
                <label><input name="password" type="password" placeholder="Password" required></label>
            </fieldset>
            <footer class="flex three center">
                <div><button type="submit">login or register</button></div>
                <div><a href="/auth/reset" class="pseudo button">reset password</a></div>
            </footer>
        </form>
    </article>
</div>
{{ end }}
