{{ define "title" }}Auth/Reset |{{ end }}
{{ define "content" }}
<div class="flex three center">
    <article class="card">
        <header>
            <h3>set new password</h3>
        </header>
        <form action="/auth/reset/{{ .code }}" method="POST">
            <fieldset class="flex one">
                <label><input name="password" type="password" placeholder="NEW password" required></label>
            </fieldset>
            <footer class="flex three center">
                <div><button type="submit">change password</button></div>
            </footer>
        </form>
    </article>
</div>
{{ end }}
