{{ define "title" }}Auth/Reset |{{ end }}
{{ define "content" }}
<div class="flex three center">
    <article class="card">
        <header>
            <h3>reset password</h3>
        </header>
        <form action="/auth/reset" method="POST">
            <p>Write down your email address and we'll send you an email with special link</p>
            <fieldset class="flex one">
                <label><input name="email" type="email" placeholder="Email" required></label>
            </fieldset>
            <footer class="flex three center">
                <div><button type="submit">request</button></div>
            </footer>
        </form>
    </article>
</div>
{{ end }}
