{{ define "title" }}{{ end }}
{{ define "content" }}
<div class="flex three center">
    <div class="third">
        <article class="card">
            <header>
                <h3>Why?</h3>
            </header>
            <p>You will die, aye. You may die in bed on your 100 year birthday or you may die accidentally.
            That project is for second scenario. You might wish there was something you had told the people around you.
            How you feel, what you regret, what you wish you had said.
            Or maybe you just want to make sure your pets are taken care of promptly.
            For that, you need a dead man's switch.</p>
        </article>
    </div>
    <div class="third">
        <article class="card">
            <header>
                <h3>How?</h3>
            </header>
            <p>You write texts to the people you want to tell something in case of samething bad happened to you.
            Switch will email you every several days/weeks, asking if you are ok (just click the link in the message).
            If you will not confirm that you are alive in 60 days, switch sends messages you wrote to recipients you set.</p>
            <footer>
                <a href="/auth/" class="button">&block; start</a>
            </footer>
        </article>
    </div>
    <div class="third">
        <article class="card">
            <header>
                <h3>When?</h3>
            </header>
            <p>Switch sends "Are you ok?" notification by interval that you set, for example: once a month
            If you don't respond to notifcation, it will be resent again after 15 days of first one.
            If you don't respond to second notification, it will be resent the last time after 7 days of the second one.
            If you don't respond to the third (last) notification, switch will send your messages (after 30 days of first notification)</p>
        </article>
    </div>
</div>
{{ end }}
