<html>
    <head>
        <title>{{ template "title" . }} The last will</title>
        <link rel="stylesheet" href="/assets/picnic.min.css">
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <nav>
            <a href="/" class="brand">
                <img class="logo" src="/assets/logo.png" />
                <span>the last will</span>
            </a>
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="burger pseudo button">menu</label>
            <div class="menu">
                {{ if .loggedIn }}
                <a href="/auth/logout" class="pseudo button">logout</a>
                {{ else }}
                <a href="/auth/" class="pseudo button">&block; start</a>
                {{ end }}
            </div>
        </nav>
        <main class="content">
        {{ template "content" . }}
        </main>
    </body>
</html>
