body {
    color: #fff;
    background: #374046;
}

nav {
    color: #fff;
    background: #3e464c;
}

nav a.brand {
    text-transform: uppercase;
}

main.content {
    padding: 2em;
    padding-top: 3.5em;
}

.card {
    background: #37474f;
    box-shadow: 0 3px 10px rgba(0,0,0,0.23), 0 3px 10px rgba(0,0,0,0.16);
}

input {
    color: #000;
}

th {
    background: #455a64;
}
