{{ define "title" }}Switches |{{ end }}
{{ define "content" }}
<div class="flex one center">
<table class="primary">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Recipients</th>
            <th data-tooltip="Each message is encrypted. If you want to see the real message, click on &#128395;">Message (?)</th>
            <th><a href="/switch/create" class="label success">new</a></th>
        </tr>
    </thead>
    <tbody>
        {{ range .switches }}
        <tr>
            <td>{{ .Subject }}</td>
            <td>{{ .Recipients }}</td>
            <td>{{ .EncryptedMessage }}</td>
            <td>
                <a href="/switch/edit/{{ .ID }}" class="pseudo" title="view message / edit switch">&#128395;</a> |
                <a href="/switch/delete/{{ .ID }}" class="dangerous" title="delete switch">&#9932;</a>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
</div>
{{ end }}
